.prose {
  @apply text-neutral-300;
}

.prose p {
  @apply leading-7;
}

.prose code {
  @apply rounded-sm bg-neutral-800 px-1 py-[2px] text-orange-500;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight text-neutral-100;
}

.prose h3 {
  @apply text-base font-medium tracking-tight text-neutral-100;
}

.prose code {
  @apply rounded-sm bg-slate-800 px-1 py-0.5 text-neutral-300;
}

.prose a {
  @apply text-neutral-200 underline decoration-neutral-600 decoration-1 underline-offset-4 transition-colors hover:text-white hover:decoration-neutral-500;
}

.prose ul {
  @apply list-disc;
}

.prose blockquote {
  @apply flex flex-row gap-4 before:block before:h-auto before:w-1 before:max-w-[2px] before:bg-slate-500 before:content-[''];
}

.prose pre {
  @apply p-4;
}

.prose pre > code {
  @apply bg-transparent;
}
