---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Balancer from '@/components/ext/Balancer';
import SocialLinks from '@/components/SocialLinks.astro';
import ProjectCards from '@/components/ProjectCards.astro';
---

<BaseLayout title="Home">
  <div class="space-y-8">
    <h1 class="text-3xl text-neutral-100 font-bold">Error 404</h1>
    <p class="leading-6">The page you were looking for does not exist!</p>
  </div>
</BaseLayout>
