---
import BaseLayout from '@/layouts/BaseLayout.astro';
import SocialLinks from '@/components/SocialLinks.astro';
import ProjectCards from '@/components/ProjectCards.astro';
---

<BaseLayout title="Home">
  <div class="space-y-8">
    <h1 class="text-3xl text-neutral-100">
      Hey, I'm <span class="font-bold">Andre</span>.
      <span aria-hidden="true">👋</span>
    </h1>
    <p class="max-w-[48ch] leading-6">
      I'm an 18-year-old developer and student majoring in Computer Science. I
      love building and learning about new things! If you want to get in contact
      with me, you can find my socials below.
    </p>
    <SocialLinks />
  </div>
  <ProjectCards />
</BaseLayout>
