---
import { type SimpleIcon, siDiscord, siGithub, siTwitter } from 'simple-icons';

type Social = {
  icon: SimpleIcon;
  title: string;
  href: string;
};

const socials: Social[] = [
  {
    icon: siDiscord,
    title: 'Discord',
    href: 'https://discord.dog/204594797812383744'
  },
  {
    icon: siTwitter,
    title: 'Twitter',
    href: 'https://twitter.com/aelew0'
  },
  {
    icon: siGithub,
    title: 'GitHub',
    href: 'https://github.com/aelew'
  }
];
---

<ul role="list" class="flex flex-row gap-4">
  {
    socials.map((social) => (
      <li>
        <a
          class="[&>*]:w-5 [&>*]:h-5 [&>*]:fill-neutral-100 hover:[&>*]:fill-neutral-200"
          set:html={social.icon.svg}
          title={social.title}
          href={social.href}
          target="_blank"
        />
      </li>
    ))
  }
  <li>
    <a title="Email" href="mailto:me@aelew.com">
      <svg
        class="w-5 h-5 fill-neutral-100 hover:fill-neutral-200"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
        ></path>
      </svg>
    </a>
  </li>
</ul>
